<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>
<div class="container-fluid">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
\                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/}">Home</a></li>
                        <li><a href="#" th:href="@{/movies}">Movies</a></li>
                        <li><a href="#" th:href="@{/movie/new}">Add New Movie</a></li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="">
                    <h2>Movie Monster</h2>
                    <h3>Find your next movie to devour!</h3>
                </div>
            </div>
            <div class="row text-center">
                <img class="img-responsive center-block" th:src="@{http://static.tumblr.com/ovituqy/mDVm4sspq/documentary-filmheader.jpg}" />
            </div>
        </div>
    </div>
</div>
</body>
</html>