<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
    <div class="container">
        <div th:fragment="header">
            <div class="jumbotron">
                <div class="row text-center">
                    <div class="">
                        <h2>Cool Sports Vans</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <img th:src="@{http://www.ujointoffroad.com/images/860_V7_1.JPG}" width="600"/>
                </div>
            </div>

        </div>
    </div>
</body>

</html>