<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:include="fragments/header :: header"></th:block>
    <div th:if="${not #lists.isEmpty(movies)}">
        <table class="table table-hover">
            <tr>
                <!--table headers-->
                <th>Name</th>
                <th>Image</th>
                <th>Genre</th>
                <th>RT</th>
                <th>MetaCritic</th>
                <th>Description</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="movie : ${movies}">
                <!--table rows-->
                <td th:text="${movie.name}"></td>
                <td> <img class="img-responsive" th:src="${movie.imageURL}" width="50"/></td>
                <td th:text="${movie.genre.name}"></td>
                <td th:text="${movie.rtRating}"></td>
                <td th:text="${movie.mcRating}"></td>
                <td th:text="${movie.description}"></td>
                <td><a th:href="${'/movie/' + movie.id}">View</a></td>
                <td><a th:href="${'/movie/update/' + movie.id}">Edit</a></td>
                <td><a th:href="${'/movie/delete/' + movie.id}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>