<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container-fluid">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Movie Details</h2>
    <div>
        <form th:object="${movie}" th:action="@{/movie}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>

            <div class="form-group">
                <label class="col-sm-6 control-label">Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Genre:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{genre.name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Rotten Tomatoes Rating:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" th:field="*{rtRating}" min="0" max="100" step="1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">MetaCritic Rating:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" th:field="*{mcRating}" min="0" max="100" step="1"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Description:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Image URL:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{imageURL}"/>
                </div>
            </div>
            <div class="col-sm-6 control-label">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>
