<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="container-fluid">
        <h2> </h2>
        <form>
            <div class="col-sm-6">
                <img th:src="${movie.imageURL}" class="img-responsive" width="200"/>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-6 control-label">Name:</label>
                <div class="col-sm-6">
                    <p class="form-control-static" th:text="${movie.name}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Genre:</label>
                <div class="col-sm-6">
                    <p class="form-control-static" th:text="${movie.genre.name}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Rotten Tomatoes Rating:</label>
                <div class="col-sm-6">
                    <p class="form-control-static" th:text="${movie.rtRating}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">MetaCritic Rating:</label>
                <div class="col-sm-6">
                    <p class="form-control-static" th:text="${movie.mcRating}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">Description:</label>
                <div class="col-sm-6">
                    <p class="form-control-static" th:text="${movie.description}"></p>
                </div>
            </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>