<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
        <div th:if="${not #lists.isEmpty(shows)}">
            <h2> Show List</h2>

            <table class="table table-bordered">
                <tr>
                    <!--table headers-->
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>MediaType</th>
                    <th>RT</th>
                    <th>MetaCritic</th>
                    <th>Genre</th>
                    <th>Description</th>
                    <th>RunningTime</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <!--table rows-->
                <tr th:each="show : ${shows}">
                    <td th:text="${show.id}"></td>
                    <td th:text="${show.name}"></td>
                    <td> <img th:src="${show.imageURL}" class="img-responsive" width="50"/></td>
                    <td th:text="${show.mediaType.name}"></td>
                    <td th:text="${show.rtRating}"></td>
                    <td th:text="${show.mcRating}"></td>
                    <td th:text="${show.genre.name}"></td>
                    <td th:text="${show.description}"></td>
                    <td th:text="${show.runningTime}"></td>
                    <td><a th:href="${'/show/' + show.id}">View</a></td>
                    <td><a th:href="${'/show/edit/' + show.id}">Edit</a></td>
                    <td><a th:href="${'/show/delete/' + show.id}">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>