<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:include="fragments/header :: header"/>
        <div th:if="${not #lists.isEmpty(vans)}">
            <h2> Van List</h2>
            <table class="table table-striped">
                <tr>
                    <!--table headers-->
                    <th>Product Id</th>
                    <th>Make</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>
                <!--table rows-->
                <tr th:each="van : ${vans}">
                    <td th:text="${van.id}"></td>
                    <td th:text="${van.make.name}"></td>
                    <td th:text="${van.name}"></td>
                    <td th:text="${van.description}"></td>
                    <td th:src="${van.imgurl}"></td>
                </tr>
            </table>
        </div>
</body>
</html>